<a href="https://colab.research.google.com/github/AFaiqatuzzahra/IPSD/blob/main/guided.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
nama = "Yanto"
umur = 38
print(f"Nama : {nama} \nUmur : {umur}")

Nama : Yanto
Umur : 38

In [2]:
from math import pi

jari = 8
luas = pi *jari**2
keliling = 2*pi*jari
print(f"Luas Lingkaran : {luas} \nKeliling Lingkaran : {keliling}")

Luas Lingkaran : 201.06192982974676
Keliling Lingkaran : 50.26548245743669

In [3]:
angka = 129
teks = 'ini angka'
print(f"Tipe Data Angka : {type(angka)} \nTipe Data Teks : {type(teks)}")

Tipe Data Angka : <class 'int'>
Tipe Data Teks : <class 'str'>

In [4]:
nilai = 100
print(f'nilai kamu adalah {nilai} dan tipe datanya adalah {type(nilai)}')
nilai = float(nilai)
print(f'nilai kamu adalah {nilai} dan tipe datanya adalah {type(nilai)}')

nilai kamu adalah 100 dan tipe datanya adalah <class 'int'>
nilai kamu adalah 100.0 dan tipe datanya adalah <class 'float'>

In [5]:
a = "123"
print(f"Tipe Data a : {type(a)}")
a = int(a)
print(f"Tipe Data a : {type(a)}")

Tipe Data a : <class 'str'>
Tipe Data a : <class 'int'>

In [6]:
text = "ulang "
multiplied_text = text * 3
print(multiplied_text)

ulang ulang ulang

In [7]:
number = 7
if number % 2 == 0:
  print("Genap")
else:
  print("Ganjil")

Ganjil

In [8]:
value = 150
if value > 100:
    print("lebih dari 100")
else:
    print("100 atau kurang dari")

lebih dari 100

In [9]:
age = 16
if age <= 12:
    print("Anak-anak")
elif 13 <= age <= 17:
    print("Remaja")
else:
    print("Dewasa")

Remaja

In [12]:
username = input("Enter username: ")
if username == "Jono":
    print("Selamat datang {username}")
elif username == "Slamet":
    print(f"Selamat datang {username}")
else:
    print("Nama tidak dikenali")

Enter username: Slamet
Selamat datang Slamet

In [11]:
year = 2024
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Tahun Kabisat")
else:
    print("Bukan Tahun Kabisat")

Tahun Kabisat

In [13]:
age = 18
if age >= 18:
    print("Boleh memberikan suara")
else:
    print("Tidak boleh memberikan suara")

Boleh memberikan suara

In [14]:
a, b, c = 3, 7, 5
largest = max(a, b, c)
print(f"Nilai terbesar {largest}")

Nilai terbesar 7

In [15]:
str1 = "hello"
str2 = "world"
if len(str1) == len(str2):
    print("Memiliki Panjang yg sama")
else:
    print("Memiliki panjang yg berbeda")

Memiliki Panjang yg sama

In [16]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
i = 2
while i <= 20:
    print(i)
    i += 2

2
4
6
8
10
12
14
16
18
20

In [18]:
sentence = input("Masukkan Kalimat: ")
for _ in range(5):
    print(sentence)

Masukkan Kalimat: dimakan ayam
dimakan ayam
dimakan ayam
dimakan ayam
dimakan ayam
dimakan ayam

In [19]:
N = 10
total_sum = sum(range(1, N + 1))
print(f"Sum dari 1 to {N} adalah {total_sum}")

Sum dari 1 to 10 adalah 55

In [20]:
for i in range(1, 11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [21]:
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [22]:
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [23]:
start = 1
end = 10
sum_odds = sum(i for i in range(start, end + 1) if i % 2 != 0)
print(f"Sum of odd numbers between {start} and {end} is {sum_odds}")

Sum of odd numbers between 1 and 10 is 25

In [24]:
def triangle_area(base, height):
    return 0.5 * base * height

print(triangle_area(10, 5))

25.0

In [25]:
def greet(name):
    print(f"Halo, {name}")

greet("Alice")

Halo, Alice

In [26]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

print(is_prime(7))

True

In [27]:
def max_of_three(a, b, c):
    return max(a, b, c)

print(max_of_three(3, 7, 5))

7

In [28]:
def celsius_ke_fahrenheit(celsius):
    return (celsius * 9/5) + 32

print(celsius_ke_fahrenheit(30))

86.0

In [29]:
def gabung(str1, str2):
    return str1 + str2

print(gabung("Hello, ", "World!"))

Hello, World!

In [30]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(5))

120

In [31]:
def sum_list(numbers):
    return sum(numbers)

print(sum_list([1, 2, 3, 4, 5]))

15

In [32]:
names = ["Alice", "Bob", "Charlie", "David", "Eve"]

In [33]:
print(names[0])
print(names[-1])

Alice
Eve

In [34]:
names.append("Frank")
print(names)

['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank']

In [35]:
names.remove("Charlie")
print(names)

['Alice', 'Bob', 'David', 'Eve', 'Frank']

In [36]:
print(len(names))

5

In [37]:
numbers = [3, 1, 4, 1, 5]
numbers.sort()
print(numbers)

[1, 1, 3, 4, 5]

In [38]:
numbers_tuple = (1, 2, 3, 4, 5)

In [39]:
print(3 in numbers_tuple)  # Output: True

True

In [40]:
students = {"Alice": 85, "Bob": 90, "Charlie": 78}

In [41]:
print(students["Alice"])

85

In [42]:
students["David"] = 88
print(students)

{'Alice': 85, 'Bob': 90, 'Charlie': 78, 'David': 88}

In [43]:
del students["Bob"]
print(students)

{'Alice': 85, 'Charlie': 78, 'David': 88}

In [44]:
students["Alice"] = 95
print(students)

{'Alice': 95, 'Charlie': 78, 'David': 88}

In [45]:
print(students.keys())

dict_keys(['Alice', 'Charlie', 'David'])

In [46]:
print(students.values())

dict_values([95, 78, 88])

In [47]:
scores_list = list(students.values())
print(scores_list)

[95, 78, 88]

In [48]:
unique_numbers = {1, 2, 3, 4, 5}

In [49]:
unique_numbers.add(6)
print(unique_numbers)

{1, 2, 3, 4, 5, 6}

In [50]:
unique_numbers.remove(3)
print(unique_numbers)

{1, 2, 4, 5, 6}

In [51]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [52]:
print(set1.union(set2))

{1, 2, 3, 4}

In [53]:
print(set1.issubset(set2))

False

In [54]:
print(set1.difference(set2))

{1}

In [55]:
numbers = [1, 2, 2, 3, 4, 4, 4, 5]
unique_numbers = set(numbers)
print(len(unique_numbers))

5

In [56]:
with open("example.txt", "w") as file:
    file.write("Hello, world!")

In [57]:
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

Hello, world!

In [58]:
with open("example.txt", "a") as file:
    file.write("\nNew line added.")

In [59]:
with open("example.txt", "r") as file:
    for line in file:
        print(line, end="")

Hello, world!
New line added.

In [60]:
with open("example.txt", "r") as file:
    content = file.read()
    word_count = len(content.split())
    print(word_count)

5

In [61]:
import os
os.remove("example.txt")

In [62]:
if os.path.exists("example.txt"):
    print("File exists")
else:
    print("File does not exist")

File does not exist

In [63]:
with open("example.txt", "w") as file:
    file.write("Hello, world!")

with open("example.txt", "r") as src:
    with open("copy.txt", "w") as dst:
        dst.write(src.read())

In [64]:
numbers = [x for x in range(1, 11)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [65]:
evens = [x for x in range(1, 21) if x % 2 == 0]
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [66]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [67]:
words = ["hello", "world"]
upper_words = [word.upper() for word in words]
print(upper_words)

['HELLO', 'WORLD']

In [68]:
numbers = [1, 2, 3, 6, 7, 8]
filtered = [x for x in numbers if x > 5]
print(filtered)

[6, 7, 8]

In [69]:
string = "hello world"
vowels = [char for char in string if char in 'aeiou']
print(vowels)

['e', 'o', 'o']

In [70]:
result = 10/0
print(result)

ZeroDivisionError: division by zero

In [71]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Division by zero is not allowed")

Division by zero is not allowed

In [72]:
angka = 'ini angka'
print(int(angka))

ValueError: invalid literal for int() with base 10: 'ini angka'

In [73]:
angka = 'ini angka'
try:
  angka = int(angka)
except ValueError:
  print("")

In [75]:
try:
    number = int(input("Enter a number: "))
except ValueError:
    print("Input is not a valid number")

Enter a number: 8

In [74]:
my_list = [1, 2, 3]
try:
    print(my_list[5])
except IndexError:
    print("Index out of range")

Index out of range

In [76]:
try:
    result = 10 / int(input("Enter a number: "))
except ValueError:
    print("Input is not a valid number")
except ZeroDivisionError:
    print("Cannot divide by zero")

Enter a number: 9

In [77]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Division by zero is not allowed")
finally:
    print("This will execute regardless of an exception")

Division by zero is not allowed
This will execute regardless of an exception

In [78]:
from sklearn.linear_model import LinearRegression

In [79]:
LinearRegression().fit()

TypeError: LinearRegression.fit() missing 2 required positional arguments: 'X' and 'y'

In [80]:
class Mahasiswa:
    def __init__(self, nama, umur):
        self.nama = nama
        self.umur = umur

In [81]:
class Mahasiswa:
    def __init__(self, nama, umur, jenis_kelamin):
        self.nama = nama
        self.u = umur
        self.jk = jenis_kelamin

    def tampilkan_informasi(self):
        print(f"Nama: {self.nama}, Umur: {self.u}, Jenis Kelamin : {self.jk}")

In [82]:
mhs = Mahasiswa('yanto', 98, 'Laki-laki')
mhs.tampilkan_informasi() #memanggil fungsi untuk menampilkan informasi

Nama: yanto, Umur: 98, Jenis Kelamin : Laki-laki

In [83]:
mahasiswa1 = Mahasiswa("Alice", 20)
mahasiswa1.tampilkan_informasi()

TypeError: Mahasiswa.__init__() missing 1 required positional argument: 'jenis_kelamin'

In [84]:
class Person:
    def __init__(self, name):
        self.name = name

person = Person("John")
print(person.name)

John

In [85]:
class Person:
    def __init__(self, name):
        self.name = name

class Mahasiswa(Person):
    def __init__(self, name, umur):
        super().__init__(name)
        self.umur = umur

mahasiswa = Mahasiswa("Alice", 20)
print(mahasiswa.name, mahasiswa.umur)

Alice 20

In [86]:
class Animal:
    def speak(self):
        print("Animal speaks")

class Dog(Animal):
    def speak(self):
        print("Dog barks")

dog = Dog()
dog.speak()

Dog barks

In [87]:
class Counter:
    count = 0

    def __init__(self):
        Counter.count += 1

obj1 = Counter()
obj2 = Counter()
print(Counter.count)

2

In [88]:
class MathUtils:
    @staticmethod
    def add(a, b):
        return a + b

print(MathUtils.add(5, 7))

12

In [89]:
import math
print(math.sqrt(16))

4.0

In [90]:
# square.py
def area(side):
    return side * side

def perimeter(side):
    return 4 * side

In [91]:
# cuboid.py
def volume(length, width, height):
    return length * width * height

In [92]:
# sphere.py
import math
def volume(radius):
    return (4/3) * math.pi * radius**3

In [93]:
import math
def volume(radius):
    return (4/3) * math.pi * radius**3

In [94]:
import random
print(random.randint(1, 100))

68

In [95]:
import time
start_time = time.time()

time.sleep(1)
end_time = time.time()
print("Execution time:", end_time - start_time, "seconds")

Execution time: 1.0023398399353027 seconds

In [96]:
square = lambda x: x * x
print(square(5))

25

In [97]:
numbers = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x * x, numbers))
print(squares)

[1, 4, 9, 16, 25]

In [98]:
numbers = [1, 2, 3, 4, 5, 6]
odds = list(filter(lambda x: x % 2 != 0, numbers))
print(odds)

[1, 3, 5]

In [99]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
total = reduce(lambda x, y: x + y, numbers)
print(total)

15

In [100]:
string = "hello world"
vowels = "aeiou"
count = sum(1 for char in string if char in vowels)
print(count)

3

In [101]:
def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome("madam"))

True

In [102]:
for i in range(5):
    for j in range(i + 1):
        print("*", end="")
    print()

*
**
***
****
*****

In [103]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

print(factorial(5))

120

In [104]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f"Name: {name}, Age: {age}")

Enter your name: Afifah
Enter your age: 21
Name: Afifah, Age: 21

In [105]:
my_list = [1, 2, 3, 4, 5]
reversed_list = my_list[::-1]
print(reversed_list)

[5, 4, 3, 2, 1]

In [106]:
import datetime
today = datetime.datetime.now()
print(today.strftime("%A"))

Saturday

In [108]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

if num2 != 0:
    print(num1 / num2)
else:
    print("Cannot divide by zero")

Enter first number: 9
Enter second number: 3
3.0